// ------------------------------
// LMS main styling
// Version 2 - introduces the Pattern Library

// NOTE: This is the right-to-left (RTL) configured style compile.
// It should mirror lms-main-ltr w/ the exception of bi-app references.

// ------------------------------
// #CONFIG - layout direction
// ------------------------------
@import 'rtl';                        // RTL-specifc settings and utilities


// ------------------------------
// #BUILD
// ------------------------------
@import 'build-lms-v2';                      // shared compile/build order for both LTR and RTL UI
